@model IGamer.Web.ViewModels.ViewComponents.CategoryListViewModel
<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Category</h4>
    <ul class="list cat-list">
        @foreach (var category in Model.Categories)
        {
            <li>
                <a href="#" class="d-flex">
                    <p>@category.CategoryName (@category.PostsCount)</p>
                </a>
            </li>
        }
    </ul>
</aside>