@model IGamer.Web.ViewModels.Replies.AddReplyInputModel
<textarea class="form-control form-control-bg-tr w-100" cols="60" rows="6" placeholder="Write Reply" id="areaForReply@(Model.CommentId)"></textarea>
<a role="button" onclick="addReply(@Model.CommentId, '@Model.PostId')" class="button button-contactForm btn_1" id="buttonForReply">
    Send Message <i class="flaticon-right-arrow"></i>
</a>