@model IGamer.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<section class="banner_part">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-8">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>@this.ViewData["Title"]</h1>
                        Settings: @this.Model.SettingsCount
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>