@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section class="banner_part">
    <div class="container">
        <div class="banner_text">
            <div class="banner_text_iner">
                <h1 class="text-danger">@ViewData["Title"]</h1>
                <p class="text-danger">You do not have access to this page.</p>
            </div>
        </div>
    </div>
</section>