@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="banner_part">
    <div class="container">
        <div class="banner_text">
            <div class="banner_text_iner">
                <h1>@ViewData["Title"]</h1>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</section>
