@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="live_stareams">
    <div class="container">
        <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
                <h1 align="center">@ViewData["Title"]</h1>
                <div class="text-light" align="center">
                    <div class="col-md-6">
                        <form id="account" method="post">
                            <section>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.UserName"></label>
                                    <input asp-for="Input.UserName" class="form-control" />
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>
                                <div class="form-group" align="center">
                                    <div>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </div>
                                    <div>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
