@model IGamer.Web.ViewModels.ViewComponents.LatestGuideViewModel

<section class="Latest_War">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Latest Guide</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="Latest_War_text" style="background-image: url('@Model.ImageUrl') !important">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-lg-6">
                            <div class="single_war_text text-center">
                                <h4>@Model.Title</h4>
                                <time datetime="@Model.CreatedOn.ToString("O")" class="date text-light"></time>
                            </div>
                        </div>
                    </div>
                    <a asp-area="" asp-controller="Guides" asp-action="Details" asp-route-id="@Model.Id" class="btn_2">Go to Guide</a>
                </div>
            </div>
        </div>
    </div>
</section>