<li class="nav-item">
    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link " asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
</li>
<li class="nav-item">
    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="fighter.html">fighter</a>
</li>
<li class="nav-item">
    <a class="nav-link " asp-area="" asp-controller="Suggestions" asp-action="All">Suggestions</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="blockDropdown"
       role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Forum
    </a>
    <div class="dropdown-menu" aria-labelledby="blockDropdown" id="blockMenu">
        <a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="All"> All Posts</a>
        <a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="MyPosts">My Posts</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown"
       role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Guides
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown" id="pagesMenu">
        <a class="dropdown-item" asp-area="" asp-controller="Guides" asp-action="All">All guides</a>
        <a class="dropdown-item" asp-area="" asp-controller="Guides" asp-action="MyGuides">My guides</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="contact.html">Contact</a>
</li>
